<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <description></description>
        <display-name>Deco</display-name>
        <servlet-name>Deco</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.C09.servlets.Deco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deco</servlet-name>
        <url-pattern>/Deco</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CastVote</display-name>
        <servlet-name>CastVote</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.C09.servlets.CastVote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CastVote</servlet-name>
        <url-pattern>/castVote</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DeleteVote</display-name>
        <servlet-name>DeleteVote</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.C09.servlets.DeleteVote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteVote</servlet-name>
        <url-pattern>/deleteVote</url-pattern>
    </servlet-mapping>

</web-app>