<web-app
        version="4.0"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!--<servlet>
        <description></description>
        <display-name>Deco</display-name>
        <servlet-name>Deco</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.C09.servlets.Deco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deco</servlet-name>
        <url-pattern>/Deco</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CastVote</display-name>
        <servlet-name>CastVote</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.C09.servlets.CastVote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CastVote</servlet-name>
        <url-pattern>/castVote</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Resultat</display-name>
        <servlet-name>Resultat</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.C09.servlets.Resultat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resultat</servlet-name>
        <url-pattern>/resultat</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Update</display-name>
        <servlet-name>Update</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.C09.servlets.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>-->
    <filter>
        <filter-name>Authentification</filter-name>
        <filter-class>fr.univlyon1.m1if.m1if03.C09.filters.Authentification</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentification</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Autorisation</filter-name>
        <filter-class>fr.univlyon1.m1if.m1if03.C09.filters.Autorisation</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Autorisation</filter-name>
        <url-pattern>/listBallots.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheBallots</filter-name>
        <filter-class>fr.univlyon1.m1if.m1if03.C09.filters.CacheBallots</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheBallots</filter-name>
        <url-pattern>/election/vote</url-pattern>
        <url-pattern>/election/listBallots</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheBallotEtag</filter-name>
        <filter-class>fr.univlyon1.m1if.m1if03.C09.filters.CacheBallotEtag</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheBallotEtag</filter-name>
        <url-pattern>/election/ballot</url-pattern>
        <url-pattern>/ballot.jsp</url-pattern>
    </filter-mapping>

</web-app>